.header {
  height: 50px;
  padding: 0px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
@media (min-width: 900px) {
  .header {
    padding: 40px 60px 0px 60px;
    margin-bottom: 55px;
  }
}
.header__logo {
  font-size: 18px;
  font-family: "roboto";
  font-weight: 900;
  color: black;
  text-decoration: none;
}
.header__logo--ending {
  font-weight: 300;
}
.header__logo--ending span {
  font-size: 35px;
  font-weight: 900;
  color: #FF6464;
  margin-left: -3px;
}
.header__nav {
  display: flex;
}
.header__nav .menu-item {
  list-style: none;
}
.header__nav .menu-item a {
  color: #21243D;
  font-size: 16px;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  font-family: "Zilla Slab";
  font-weight: 500;
}
.header__nav .menu-item.current-menu-item a {
  color: #FF6464;
}
.header__nav .menu-item:last-child {
  padding-right: 0px;
}

.m-hero {
  text-align: center;
  color: #21243D;
  margin-bottom: 80px;
  padding: 0px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1240px) {
  .m-hero {
    margin-top: 110px;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 130px;
    text-align: left;
  }
}
.m-hero__texts {
  max-width: 600px;
}
.m-hero__img {
  width: 343px;
  height: 195px;
  object-fit: cover;
  margin-bottom: 32px;
}
@media (min-width: 1240px) {
  .m-hero__img {
    width: 425px;
    height: 295px;
    box-shadow: 7px 7px 0px 0px rgba(235, 235, 235, 0.75);
  }
}
.m-hero__title {
  font-weight: 800;
  font-family: "Montserrat";
  font-size: 34px;
  margin-bottom: 16px;
  color: #21243D;
  line-height: 40px;
}
@media (min-width: 1240px) {
  .m-hero__title {
    margin-bottom: 40px;
  }
}
.m-hero__description {
  line-height: 150%;
  margin-bottom: 32px;
  color: #21243D;
  font-size: 16px;
  font-family: "Zilla Slab";
}

.skill {
  background-color: #121212;
  color: white;
  padding: 30px 16px 60px 16px;
  margin-bottom: 80px;
}
.skill__title {
  text-align: center;
  font-weight: 700;
  font-family: "Montserrat";
  font-size: 30px;
  margin-bottom: 22px;
  color: inherit;
}
.skill__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}
@media (min-width: 1440px) {
  .skill__cards {
    gap: 45px;
  }
}

.skillCard {
  background-color: white;
  color: #21243D;
  border-radius: 4px;
  width: 335px;
  height: 310px;
}
.skillCard__title {
  font-weight: 800;
  font-family: "Montserrat";
  font-size: 22px;
  margin-bottom: 0px;
  color: #21243D;
  padding: 24px 0px 0px 24px;
}
.skillCard__skillsConteiner {
  margin: 0px 40px 0px 24px;
  padding-bottom: 20px;
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.skillCard__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.skillCard__item .dots {
  display: flex;
  justify-content: space-between;
  width: 100px;
}
.skillCard__item .dots .dot {
  width: 14px;
  height: 14px;
  background-color: #c4c9d3;
  border-radius: 100%;
}
.skillCard__item .dots .dot--colored {
  background-color: #142850;
}
.skillCard__data {
  display: flex;
  align-items: center;
}
.skillCard__data--img, .skillCard__data--circle {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-right: 8px;
}
.skillCard__data--img img, .skillCard__data--circle img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
}
.skillCard__data--circle {
  background-color: lightcoral;
}
.skillCard__data--title {
  font-weight: 400;
  font-family: "Montserrat";
  font-size: 20px;
  margin-bottom: 0px;
  color: #21243D;
}

.works {
  padding: 0px 16px;
  margin: auto;
  margin-bottom: 0px;
  width: 370px;
}
@media (min-width: 1000px) {
  .works {
    padding: 0px;
    width: 880px;
  }
}
.works__title {
  text-align: center;
  font-weight: 400;
  font-family: "Montserrat";
  font-size: 22px;
  margin-bottom: 40px;
  color: #21243D;
}
.works__title--bolder {
  font-weight: 800;
  font-family: "Montserrat";
  font-size: 44px;
  margin-bottom: 60px;
  color: #21243D;
  text-align: left;
}
@media (min-width: 900px) {
  .works__title {
    text-align: left;
  }
}

.workCard {
  cursor: pointer;
  text-decoration: none;
}
@media (min-width: 1000px) {
  .workCard:hover .workCard__imgConteiner img {
    transform: scale(1.1);
    transition: 0.5s;
  }
  .workCard:not(:hover) .workCard__imgConteiner img {
    transform: scale(1);
    transition: 0.5s;
  }
}
.workCard__content {
  padding-bottom: 23px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 40px;
}
@media (min-width: 1000px) {
  .workCard__content {
    display: flex;
    gap: 20px;
  }
}
.workCard__imgConteiner {
  overflow: hidden;
  border-radius: 6px;
  width: 100%;
  height: 200px;
}
@media (min-width: 1000px) {
  .workCard__imgConteiner {
    max-width: 250px;
    height: 180px;
  }
}
.workCard__imgConteiner img {
  width: 100%;
  height: 100%;
  background-color: hsl(0deg, 10%, 50%);
  object-fit: cover;
}
.workCard__title {
  font-weight: 700;
  font-family: "Montserrat";
  font-size: 24px;
  margin-bottom: 0px;
  color: #21243D;
  margin: 17px 0px;
}
.workCard__tags {
  margin-bottom: 25px;
}
.workCard__tag {
  font-family: "Montserrat";
  color: #8695a4;
  font-size: 16px;
  margin-left: 15px;
}
.workCard__description {
  color: #21243D;
  font-size: 16px;
  font-family: "Zilla Slab";
  line-height: 150%;
}

.m-footer {
  margin-top: 80px;
  padding: 40px 0px 60px 0px;
  flex-direction: column;
  display: flex;
  align-items: center;
}
.m-footer__contactIcons {
  display: flex;
  margin-bottom: 24px;
}
.m-footer__contactIcon {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin: 0px 20px 0px 20px;
  cursor: pointer;
}
.m-footer__contactIcon img {
  width: 100%;
}
.m-footer__contactEmail {
  font-weight: 400;
  font-family: "Montserrat";
  font-size: 18px;
  margin-bottom: 0px;
  color: #21243D;
}

.about {
  padding: 0px 16px;
  margin: auto;
  margin-bottom: 60px;
  width: none;
}
@media (min-width: 1000px) {
  .about {
    padding: 0px;
    width: 880px;
  }
}
.about__title {
  font-weight: 800;
  font-family: "Montserrat";
  font-size: 34px;
  margin-bottom: 24px;
  color: #21243D;
}
.about__description {
  color: #21243D;
  font-size: 16px;
  font-family: "Zilla Slab";
  line-height: 24px;
}

.aboutSection {
  padding: 0px 16px;
  margin: auto;
  margin-bottom: 0px;
  width: none;
}
@media (min-width: 1000px) {
  .aboutSection {
    padding: 0px;
    width: 880px;
  }
}
.aboutSection__title {
  margin-top: 20px;
  font-weight: 400;
  font-family: "Montserrat";
  font-size: 22px;
  margin-bottom: 32px;
  color: #FF6464;
}
.aboutSection__conteiner {
  display: flex;
  flex-direction: column;
}
.aboutSection__item {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e0e0e0;
}
.aboutSection__item:last-child {
  margin-bottom: 0px;
}
.aboutSection__item--title {
  font-weight: 700;
  font-family: "Montserrat";
  font-size: 22px;
  margin-bottom: 16px;
  color: #21243D;
}
.aboutSection__item--date {
  margin-bottom: 20px;
  display: flex;
  gap: 16px;
  font-family: "Montserrat";
  font-size: 16px;
}
.aboutSection__item--date span {
  color: #21243D;
}
.aboutSection__item--description {
  color: #21243D;
  font-size: 16px;
  font-family: "Zilla Slab";
}

.work-header {
  padding: 0px 16px;
  margin: auto;
  margin-bottom: 40px;
  width: 400px;
}
@media (min-width: 1000px) {
  .work-header {
    padding: 0px;
    width: 880px;
  }
}
.work-header__map {
  color: #21243D;
  font-size: 15px;
  font-family: "Zilla Slab";
  margin-bottom: 15px;
}
.work-header__map--root {
  font-weight: 600;
  text-decoration: none;
  color: inherit;
}
.work-header__map--separator {
  font-family: "Heboo";
  margin: 0px 8px;
}
.work-header__title {
  font-weight: 800;
  font-family: "Montserrat";
  font-size: 30px;
  margin-bottom: 24px;
  color: #142850;
}
.work-header__tags {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}
.work-header__tag {
  color: #21243D;
  font-size: 18px;
  font-family: "Zilla Slab";
  margin-left: 16px;
}
.work-header__description {
  color: #21243D;
  font-size: 16px;
  font-family: "Zilla Slab";
}

.work {
  padding: 0px 16px;
  margin: auto;
  margin-bottom: 40px;
  width: 400px;
}
@media (min-width: 1000px) {
  .work {
    padding: 0px;
    width: 880px;
  }
}
.work__img, .work img {
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 260px;
  object-fit: cover;
  margin-bottom: 23px;
}
.work__img:last-child, .work img:last-child {
  margin-bottom: 0px;
}
@media (min-width: 1000px) {
  .work__img, .work img {
    max-width: 880px;
    max-height: 460px;
  }
}
.work__title, .work h2 {
  font-weight: 800;
  font-family: "Montserrat";
  font-size: 30px;
  margin-bottom: 6px;
  color: #142850;
}
.work__subTitle, .work h3 {
  font-weight: 700;
  font-family: "Montserrat";
  font-size: 22px;
  margin-bottom: 32px;
  color: #142850;
}
.work__description, .work p {
  color: #21243D;
  font-size: 16px;
  font-family: "Zilla Slab";
  margin-bottom: 23px;
}

.page404 {
  margin: auto;
  text-align: center;
}
.page404__title {
  font-weight: 700;
  font-family: "Montserrat";
  font-size: 200px;
  margin-bottom: 10px;
  color: #21243D;
}
@media (max-width: 600px) {
  .page404__title {
    font-weight: 700;
    font-family: "Montserrat";
    font-size: 100px;
    margin-bottom: 10px;
    color: #21243D;
  }
}
.page404__content {
  color: #21243D;
  font-size: 20px;
  font-family: "Zilla Slab";
  margin-bottom: 20px;
}
@media (max-width: 600px) {
  .page404__content {
    color: #21243D;
    font-size: 17px;
    font-family: "Zilla Slab";
  }
}
.page404__link {
  color: #21243D;
  font-size: 20px;
  font-family: "Zilla Slab";
  text-decoration: none;
}
.page404__link::after {
  content: "<";
  margin-left: 5px;
}
.page404__link::before {
  content: ">";
  margin-right: 5px;
}
.page404__link:hover {
  text-decoration: underline;
}
@media (max-width: 600px) {
  .page404__link {
    color: #21243D;
    font-size: 17px;
    font-family: "Zilla Slab";
  }
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

main {
  min-height: calc(100vh - 180px - 72px - 80px - 61px);
}

.ghost-button {
  text-decoration: none;
  color: #21243D;
  border: 1px solid #21243D;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "Zilla Slab";
  font-weight: 500;
}
@media (min-width: 1240px) {
  .ghost-button {
    cursor: pointer;
  }
  .ghost-button:hover {
    background-color: #FF6464;
    color: white;
    border: none;
  }
}

.yearPill {
  background-color: #142850;
  color: white;
  font-weight: 900;
  font-size: 16px;
  font-family: "Heebo";
  padding: 1px 10px 0px 10px;
  text-align: center;
  border-radius: 16px;
}

.no_content_found {
  margin: auto;
}
.no_content_found p {
  color: #21243D;
  font-size: 20px;
  font-family: "Zilla Slab";
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
